
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a href="#" class="brand">
                <img src="../.../../assets/images/logo.png" width="120" height="40" alt="Logo" />
                <!-- This is website logo -->
            </a>
            <!-- Navigation button, visible on small resolution -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-menu"></i>
            </button>
            <!-- Main navigation -->
            <div class="nav-collapse collapse pull-right">
                <ul class="nav" id="top-navigation">
                    <li class="active"><a href="#home">Inicio</a></li>
                    <li><a href="#service">Servicios</a></li>
                    <li><a href="#portfolio">Proyectos</a></li>
                    <li><a href="#about">Acerca de nosotros</a></li>
                    <li><a href="#clients">Clients</a></li>
                    <li><a href="#price">Precios</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
            </div>
            <!-- End main navigation -->
        </div>
    </div>
</div>
        <!-- Start home section -->
        <div id="home">
          <div id="da-slider" class="da-slider">
              <div class="triangle"></div>
              <!-- mask elemet use for masking background image -->
              <div class="mask"></div>
              <!-- All slides centred in container element -->
              <div class="container">
                <div class="da-slide">
                    <h2 class="fittext2">{{header[0].titulo}}</h2>
                    <h4>{{header[0].subtitulo}}</h4>
                    <p>{{header[0].descripcion}}</p>
                    <!-- <a href="#" class="da-link button">Read more</a> -->
                    <div class="da-img">
                        <img [src]="header[0].url" alt="image01" width="320">
                    </div>
                </div>
                <div class="da-slide">
                    <h2 class="fittext2">{{header[1].titulo}}</h2>
                    <h4>{{header[1].subtitulo}}</h4>
                    <p>{{header[1].descripcion}}</p>
                    <!-- <a href="#" class="da-link button">Read more</a> -->
                    <div class="da-img">
                        <img [src]="header[1].url" alt="image01" width="320">
                    </div>
                </div>
                <div class="da-slide">
                    <h2 class="fittext2">{{header[2].titulo}}</h2>
                    <h4>{{header[2].subtitulo}}</h4>
                    <p>{{header[2].descripcion}}</p>
                    <!-- <a href="#" class="da-link button">Read more</a> -->
                    <div class="da-img">
                        <img [src]="header[2].url" alt="image01" width="320">
                    </div>
                </div>
                <div class="da-slide">
                    <h2 class="fittext2">{{header[3].titulo}}</h2>
                    <h4>{{header[3].subtitulo}}</h4>
                    <p>{{header[3].descripcion}}</p>
                    <!-- <a href="#" class="da-link button">Read more</a> -->
                    <div class="da-img">
                        <img [src]="header[3].url" alt="image01" width="320">
                    </div>
                </div>

                  <!-- Start cSlide navigation arrows -->
                  <div class="da-arrows">
                      <span class="da-arrows-prev"></span>
                      <span class="da-arrows-next"></span>
                  </div>
                  <!-- End cSlide navigation arrows -->
              </div>
          </div></div>
        <!-- End home section -->
        <!-- Service section start -->
        <div class="section primary-section" id="service">
          <div class="container">
              <!-- Start title section -->
              <div class="title">
                  <h1>¿A qué nos dedicamos?</h1>
                  <!-- Section's title goes here -->
                  <p>Ofrecemos soluciones tecnológicas a las empresas del sureste del país para eficiencientar sus procesos y maximizar sus ganancias mediante el empleo de aplicaciones móviles e internet de las cosas</p>
                  <!--Simple description for section goes here. -->
              </div>
              <div class="row-fluid">
                  <div class="span4" *ngFor="let service of services">
                      <div class="centered service">
                          <div class="circle-border zoom-in">
                              <img class="img-circle" [src]="service.url" alt="service 1">
                          </div>
                          <h3>{{service.title}}</h3>
                          <p>{{service.subtitle}}</p>
                      </div>
                  </div>
                  <!-- <div class="span4">
                      <div class="centered service">
                          <div class="circle-border zoom-in">
                              <img class="img-circle" [src]="services[1].url" alt="service 1">
                          </div>
                          <h3>{{services[1].title}}</h3>
                          <p>{{services[1].subtitle}}</p>
                      </div>
                  </div>
                   <div class="span4">
                          <div class="centered service">
                              <div class="circle-border zoom-in">
                                  <img class="img-circle" [src]="services[2].url" alt="service 1">
                              </div>
                              <h3>{{services[2].title}}</h3>
                              <p>{{services[2].subtitle}}</p>
                          </div>
                      </div> -->
              </div>
          </div>

        </div>
        <!-- Service section end -->
        <!-- Portfolio section start -->
        <div class="section secondary-section " id="portfolio">
            <div class="triangle"></div>
            <div class="container">
                <div class=" title">
                    <h1>{{generales.trabajo_title}}</h1>
                    <p>{{generales.trabajo_description}}</p>
                </div>
                <ul class="nav nav-pills">
                    <li class="filter" data-filter="all">
                        <a href="#noAction">All</a>
                    </li>
                    <li class="filter" data-filter="web">
                        <a href="#noAction">Web</a>
                    </li>
                    <li class="filter" data-filter="photo">
                        <a href="#noAction">Photo</a>
                    </li>
                    <li class="filter" data-filter="identity">
                        <a href="#noAction">Identity</a>
                    </li>
                </ul>
                <!-- Start details for portfolio project 1 -->
                <div id="single-project">
                    <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio01.png" alt="project 1" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Believe in yourself! Have faith in your abilities! Without a humble but reasonable confidence in your own powers you cannot be successful or happy.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 1 -->
                    <!-- Start details for portfolio project 2 -->
                    <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio02.png" alt="project 2">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Life is a song - sing it. Life is a game - play it. Life is a challenge - meet it. Life is a dream - realize it. Life is a sacrifice - offer it. Life is love - enjoy it.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 2 -->
                    <!-- Start details for portfolio project 3 -->
                    <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio03.png" alt="project 3">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>How far you go in life depends on your being tender with the young, compassionate with the aged, sympathetic with the striving and tolerant of the weak and strong. Because someday in your life you will have been all of these.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 3 -->
                    <!-- Start details for portfolio project 4 -->
                    <div id="slidingDiv3" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio04.png" alt="project 4">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Project for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Life's but a walking shadow, a poor player, that struts and frets his hour upon the stage, and then is heard no more; it is a tale told by an idiot, full of sound and fury, signifying nothing.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 4 -->
                    <!-- Start details for portfolio project 5 -->
                    <div id="slidingDiv4" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio05.png" alt="project 5">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>We need to give each other the space to grow, to be ourselves, to exercise our diversity. We need to give each other space so that we may both give and receive such beautiful things as ideas, openness, dignity, joy, healing, and inclusion.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 5 -->
                    <!-- Start details for portfolio project 6 -->
                    <div id="slidingDiv5" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio06.png" alt="project 6">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>I went to the woods because I wished to live deliberately, to front only the essential facts of life, and see if I could not learn what it had to teach, and not, when I came to die, discover that I had not lived.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 6 -->
                    <!-- Start details for portfolio project 7 -->
                    <div id="slidingDiv6" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio07.png" alt="project 7">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Always continue the climb. It is possible for you to do whatever you choose, if you first get to know who you are and are willing to work with a power that is greater than ourselves to do it.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 7 -->
                    <!-- Start details for portfolio project 8 -->
                    <div id="slidingDiv7" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio08.png" alt="project 8">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>What if you gave someone a gift, and they neglected to thank you for it - would you be likely to give them another? Life is the same way. In order to attract more of the blessings that life has to offer, you must truly appreciate what you already have.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 8 -->
                    <!-- Start details for portfolio project 9 -->
                    <div id="slidingDiv8" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="../../assets/images/Portfolio09.png" alt="project 9">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>I learned that we can do anything, but we can't do everything... at least not at the same time. So think of your priorities not in terms of what activities you do, but when you do them. Timing is everything.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 9 -->
                    <ul id="portfolio-grid" class="thumbnails row">
                        <li class="span4 mix web" *ngFor="let cliente of clientes">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio01.png" alt="project 1">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio02.png" alt="project 2">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio03.png" alt="project 3">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv2">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio04.png" alt="project 4">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv3">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio05.png" alt="project 5">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv4">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio06.png" alt="project 6">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv5">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio07.png" alt="project 7" />
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv6">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio08.png" alt="project 8">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv7">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="../../assets/images/Portfolio09.png" alt="project 9">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv8">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Thumbnail label</h3>
                                <p>Thumbnail caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Portfolio section end -->
        <!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>¿Quiénes somos?</h1>
                    <p>Somos una empresa de Mérida Yucatán cuya misión es ofrecer soluciones tecnológicas a las empresas del sureste del país para eficiencientar sus procesos y maximizar sus ganancias mediante el empleo de aplicaciones móviles e internet de las cosas</p>
                </div>
                <div class="row-fluid team">
                    <div class="span4" *ngFor="let item of team">
                        <div class="thumbnail">
                            <img [src]="item.url" alt="team 1">
                            <h3>{{item.nombre}}</h3>
                            <ul class="social">
                                <li>
                                    <a href="{{item.facebook}}" target="_blank">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>

                            </ul>
                            <div class="mask">
                                <h2>{{item.cargo}}</h2>
                                <p>{{item.frase}}</p>
                                <p>{{item.twitter}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="about-text centered">
                    <h3>Acerca de nosotros</h3>
                    <p>{{generales.about_us}}</p>
                </div>
                <h3>Skills</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <ul class="skills">
                            <li>
                                <span class="bar" data-width="80%"></span>
                                <h3>{{habilidades[0].nombre}}</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="95%"></span>
                                <h3>{{habilidades[1].nombre}}</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="68%"></span>
                                <h3>{{habilidades[2].nombre}}</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="70%"></span>
                                <h3>{{habilidades[3].nombre}}</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="span6">
                        <div class="highlighted-box center">
                            <h2>¿Quieres entrar?</h2>
                            <p>{{generales.reclutando_text}}</p>
                            <a href="#contact" class="button button-sp">Unete</a>
                            <!-- <button class="button button-sp" >Únete</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About us section end -->
        <div class="section secondary-section">
            <div class="triangle"></div>
            <div class="container centered">
                <p class="large-text">{{generales.purchase_name}}</p>
                <a href="#" class="button">Contratar ahora</a>
            </div>
        </div>
        <!-- Client section start -->

        <div id="clients">
          <div class="section third-section">
            <div class="container centered">
                <div class="sub-section">
                    <div class="title clearfix">
                        <div class="pull-left">
                            <h3>Nuestros clientes</h3>
                        </div>
                        <ul class="client-nav pull-right">
                            <li id="client-prev"></li>
                            <li id="client-next"></li>
                        </ul>
                    </div>
                    <ul class="row client-slider" id="clint-slider" >

                        <li>
                            <a href="">
                                <img [src]="clientes[0].photoURL" alt="client logo 1">
                            </a>
                        </li>

                        <li>
                            <a href="">
                                  <img [src]="clientes[1].photoURL" alt="client logo 2">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                  <img [src]="clientes[2].photoURL" alt="client logo 1">
                            </a>
                        </li>
                        <li>
                            <a href="">
                              <img [src]="clientes[3].photoURL" alt="client logo 1">
                            </a>
                        </li>
                        <li>
                            <a href="">
                              <img [src]="clientes[4].photoURL" alt="client logo 1">
                            </a>
                        </li>
                        <li>
                            <a href="">
                              <img [src]="clientes[1].photoURL" alt="client logo 1">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>



        <!-- Price section start -->
        <div id="price" class="section secondary-section">
          <div class="container">
              <div class="title">
                  <h1>Precios</h1>
                  <p>Subscribete a nuestra aplicación <strong>Closer</strong> para poder recibir publicidad a tu negocio en nuestra plataforma, contamos con diferentes planes de acuerdo a tus necesidades</p>
              </div>
              <div class="price-table row-fluid">
                  <div class="span4 price-column"*ngFor="let price of prices">
                      <h3>{{price.titulo}}</h3>
                      <ul class="list">
                          <li class="price">{{price.precio}}</li>
                          <li>{{price.car_1}}</li>
                          <li>{{price.car_2}}</li>
                          <li>{{price.car_3}}</li>
                      </ul>
                      <a href="#contact" class="button button-ps">Contáctanos</a>
                  </div>
                  <!-- <div class="span4 price-column">
                      <h3>Pro</h3>
                      <ul class="list">
                          <li class="price">$39,99</li>
                          <li><strong>Free</strong> Setup</li>
                          <li><strong>24/7</strong> Support</li>
                          <li><strong>25 GB</strong> File Storage</li>
                      </ul>
                      <a href="#" class="button button-ps">BUY</a>
                  </div>
                  <div class="span4 price-column">
                      <h3>Premium</h3>
                      <ul class="list">
                          <li class="price">$79,99</li>
                          <li><strong>Free</strong> Setup</li>
                          <li><strong>24/7</strong> Support</li>
                          <li><strong>50 GB</strong> File Storage</li>
                      </ul>
                      <a href="#" class="button button-ps">BUY</a>
                  </div> -->
              </div>
              <div class="centered">
                  <p class="price-text">También ofrecemos planes a la medida,escríbenos!</p>
                  <a href="#contact" class="button">Contacto</a>
              </div>
          </div>
        </div>
        <!-- Price section end -->
        <!-- Newsletter section start -->
        <div class="section third-section">
          <div class="container newsletter">
              <div class="sub-section">
                  <div class="title clearfix">
                      <div class="pull-left">
                          <h3>Newsletter</h3>
                      </div>
                  </div>
              </div>
              <div id="success-subscribe" class="alert alert-success invisible">
                  <strong>Well done!</strong>You successfully subscribet to our newsletter.</div>
              <div class="row-fluid">
                  <div class="span5">
                      <p>{{generales.newsletter_descripcion}}</p>
                  </div>
                  <div class="span7">

                      <form #f="ngForm" (ngSubmit)="subscribe_news(f)" novalidate class="inline-form">
                        <input name="email" type="email" ngModel required #first="ngModel">

                          <!-- <input type="email" id="nlmail" class="span8" placeholder="Enter your email" [(ngModel)]="email2" required />  -->
                          <button class="button button-sp">Subscribirse</button>
                      </form>
                      <div id="err-subscribe" class="error centered">Please provide valid email address.</div>
                  </div>
              </div>
          </div>
        </div>
        <!-- Newsletter section end -->
        <!-- Contact section start -->
        <div id="contact" class="contact">
          <div class="section secondary-section">
                          <div class="container">
                              <div class="title">
                                  <h1>Contáctanos</h1>
                                  <p>Si quieres más informacion sobre nuestros servicios o precios puedes mandarnos un comentario o escribirnos a nuestro correo electrónico</p>
                              </div>
                          </div>
                          <div class="map-wrapper">
                              <div class="map-canvas" id="map-canvas">Loading map...</div>
                              <div class="container">
                                  <div class="row-fluid">
                                      <div class="span5 contact-form centered">
                                          <h3>Envíanos tu mensaje</h3>
                                          <div id="successSend" class="alert alert-success invisible">
                                              <strong>Gracias!</strong>Tu mensaje  se ha enviado</div>
                                          <div id="errorSend" class="alert alert-error invisible">There was an error.</div>
                                          <form #c="ngForm" (ngSubmit)="send_comments(c)" validate class="inline-form">
                                              <div class="control-group">
                                                  <div class="controls">
                                                      <input class="span12" type="text"  name="name"  ngModel required placeholder="* Escribe tu nombre..." />
                                                      <div class="error left-align" id="err-name">Porfavor escribe tu nombre.</div>
                                                  </div>
                                              </div>
                                              <div class="control-group">
                                                  <div class="controls">
                                                      <input class="span12" type="email" name="email" ngModel required placeholder="* Correo electrónico..." />
                                                      <div class="error left-align" id="err-email">Por favor ingrese una dirección de correo electrónico válida.</div>
                                                  </div>
                                              </div>
                                              <div class="control-group">
                                                  <div class="controls">
                                                      <textarea class="span12" name="comment" ngModel require  placeholder="* Comentarios..."></textarea>
                                                      <div class="error left-align" id="err-comment">Por favor ingresa un comentario.</div>
                                                  </div>
                                              </div>
                                              <div class="control-group">
                                                  <div class="controls">
                                                      <button class="message-btn">Enviar mensaje</button>
                                                  </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="container">
                              <div class="span9 center contact-info">
                                  <p>{{generales.direccion}}</p>
                                  <p class="info-mail">{{generales.email}}</p>
                                  <p *ngFor="let phone of generales.telefonos">{{phone}}</p>
                                  <div class="title">
                                      <h3>Síguenos en nuestras redes sociales</h3>
                                  </div>
                              </div>
                              <div class="row-fluid centered">
                                  <ul class="social">
                                      <li>
                                          <a href="{{generales.facebook}}" target="_blank">
                                              <span class="icon-facebook-circled"></span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{{generales.twitter}}" target="_blank">
                                              <span class="icon-twitter-circled"></span>
                                          </a>
                                      </li>

                                      <li>
                                          <a href="">
                                              <span class="icon-gplus-circled"></span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
        </div>
        <!-- Contact section edn -->
        <!-- Footer section start -->
        <div class="footer">
            <p>&copy; {{date}} Theme by <a href="http://www.graphberry.com">GraphBerry</a>, <a href="http://goo.gl/NM84K2">Documentation</a></p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
